@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0 100px;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  width: 100vw;
  font-size: 13vw;
  background-image: linear-gradient(
    180deg,
    rgba(99, 253, 136, 1) 0%,
    rgba(51, 197, 142, 1) 50%,
    rgba(39, 97, 116, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.controls {
  margin-top: 16px;
}

.button {
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 4px 8px;
  cursor: pointer;
}

.set-alarm {
  background-color: #498afb;
}

#alarm-list {
  margin: 15px 10px;
  padding: 30px;
  max-height: 150px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.para {
  font-family: 'Orbitron', sans-serif;
  color: white;
  padding: 3px;
  margin: 0 5px;
  font-size: 20px;
}

.reset-alarm {
  background-color: #ff3860;
  margin: 5px 15px;
  position: relative;
  left: 20px;
}

.hidden {
  display: none;
}
